html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.section-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color: #2E3A59;
}