html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    background-color: #F5F9FF;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    margin: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.section-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color: #2E3A59;
}
.buy-button {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &::after {
        content: url('../images/buy-arrow.svg');
        width: 44px;
        height: 24px;
        position: absolute;
        right: 34px;
        top: 24px;
    }
    &:hover {
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.5);
    }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 41px;
}
.tab-icon {
    fill: #aaa;
    margin-right: 16px;
}
.tab-ios {
    padding-top: 5px;
}
.tab-windows {
    padding: 0 33px 0 33px;
}
.tab-android {
    padding: 0 27px 0 27px;
}
.tab-ios {
    padding: 0 28px 0 28px;
}
.tab {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-weight: bold;
    color: #AAAAAA;
    height: 73px;
    cursor: pointer;
    &:hover {
        background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
        box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
        color: #FFFFFF;
        .tab-icon {
            fill: #FFFFFF;
        }
    }
}
.tab + .tab {
    margin-left: 15px;
}