.contacts {
    margin-top: 102px;
    &__title-wrppaer {
        display: block;
        text-align: center;
        margin-bottom: 91px;
    }
    &__title {
        display: inline-block;
        position: relative;
        max-width: 620px;
        font-weight: 800;
        font-size: 55px;
        line-height: 67px;
        &::before {
            content: '';
            background-image: url('../../images/title-decoration.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 40px;
            height: 50px;
            position: absolute;
            top: -12px;
            left: -25px;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: right;
    }
    &__load {
        position: absolute;
        left: 0;
    }
    &__locker-img {
        position: absolute;
        top: 118px;
        left: -298px;
        width: 974px;
        height: 548px;
        object-fit: cover;
    }
    &__smoke-img {
        position: absolute;
        top: 40px;
        left: 35px;
        width: 421px;
        height: 458px;
        object-fit: none;
    }
    &__form {
        position: relative;
        width: 644px;
        padding: 48px 32px 33px 62px;
        background: #FFFFFF;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
    }
    &__form-discord {
        position: absolute;
        bottom: -59px;
        left: -59px;
        width: 115px;
        height: 115px;
        img {
            width: 115px;
            height: 115px;
            object-fit: cover;
        }
    }
    &__form-telegram {
        position: absolute;
        top: -54px;
        right: -57px;
        width: 115px;
        height: 115px;
        img {   
            width: 115px;
            height: 115px;
        }
    }
    &__form-title {
        display: block;
        font-weight: 600;
        color: #2E3A59;
        margin-bottom: 25px;
    }
    &__form-input {
        width: 47%;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
        color: rgba(46, 58, 89, 0.43);
        border: none;
        border-bottom: 0.3px solid rgba(46, 58, 89, 0.43);
        padding: 5px 29px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        &::placeholder {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(46, 58, 89, 0.43);
        }
    }
    &__form-name {
        background-image: url('../../images/user-icon.svg');
        background-repeat: no-repeat;
        background-position: top 12px left 3px;
    }
    &__form-email {
        background-image: url('../../images/email-icon.svg');
        background-repeat: no-repeat;
        background-position: top 17px left 3px;
    }
    &__form-textarea {
        position: relative;
        width: 100%;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;        
        color: rgba(46, 58, 89, 0.43);
        resize: none;
        border: none;
        border-bottom: 0.3px solid rgba(46, 58, 89, 0.43);
        padding: 10px 10px 80px 28px;
        margin: 40px 0 45px;
        background-image: url('../../images/comment-icon.svg');
        background-repeat: no-repeat;
        background-position: top 10px left 3px;
        &::placeholder {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: rgba(46, 58, 89, 0.43);
        }
    }
    &__form-btn-wrapper {
        display: block;
        text-align: center;
    }
    &__form-btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 23px 47px;
        color: #FFFFFF;
        background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.5);
        }
    }
}