.footer {
    &__navigation {
        font-size: 17px;
        line-height: 21px;
        color: #fff;
        margin-top: 150px;
    }
    &__copy {
        display: block;
        text-align: center;
        margin: 76px auto 0;
        padding-bottom: 45px;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
    }
}