.functions {
    padding-top: 33px;
    background-color: #F5F9FF;
    &__wrapper {
        display: flex;
    }
    &__navigation {
        margin: 0 90px 0 28px;
        max-width: 567px;
    }
    &__tabs {
        justify-content: space-between;
        margin-bottom: 41px;
    }
    &__slider {
        position: relative;
        max-width: 100%;
        max-height: 680px;
    }
    &__slide {
        text-align: center;
    }
    &__slider-image {
        object-fit: cover;
        width: 300px;
        height: 583px;
    }
    &__slider-text {
        display: block;
        margin-bottom: 10px;
        padding-left: 25px;
    }
    &__content {
        display: none;
        &--active {
            display: block;
        }
    }
    &__info {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        &::before {
            content: url('../../images/titles-decoration.svg');
            width: 40px;
            height: 8px;
            position: absolute;
            top: -17px;
            left: -27px;
        }
        &::after {
            content: url('../../images/titles-decoration.svg');
            width: 40px;
            height: 8px;
            position: absolute;
            bottom: 26px;
            right: -34px;
        }
    }
    &__text {
        width: 495px;
        text-align: center;
        color: #828282;
        margin-bottom: 60px;
    }
    &__list {
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
        text-align: justify;
        color: #2E3A59;
        margin-bottom: 50px;
        padding-left: 23px;
        &::before {
            content: url('../../images/list-point.svg');
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
    &__item-bold {
        font-weight: bold;
    }
    &__recommendation {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        text-align: center;
        padding: 33px 52px 32px 77px;
        color: #828282;
        margin-bottom: 57px;
        &::before {
            content: url('../../images/warning-icon.svg');
            width: 32px;
            height: 28px;
            position: absolute;
            left: 26px;
            top: 30px;
        }
    }
    &__buttons {
        margin-bottom: 50px;
    }
    &__buy {
        padding: 28px 96px 28px 34px;
        margin-right: 23px;
    }
    &__watch {
        position: relative;
        padding: 28px 80px 28px 28px;
        background: #FF3B3B;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        border: none;
        cursor: pointer;
        &::after {
            content: url('../../images/play-icon.svg');
            width: 33px;
            height: 33px;
            position: absolute;
            top: 22px;
            right: 23px;
        }
        &:hover {
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.5);
        }
    }
}
.tabs-buttons {
    position: absolute;
    bottom: 0;
    width: 61px;
    height: 32px;
    border: none;
    fill: #E2E2E2;
    background-color: transparent;
    cursor: pointer;
    z-index: 99;
}
.tabs-prev {
    left: 40%;
}
.tabs-next {
    right: 35%;
    transform: rotate(180deg);
}
.tab-1-prev,.tab-1-next {
    &:hover {
        fill: url('#linear-gradient-1');
    }
}
.tab-2-prev,.tab-2-next {
    &:hover {
        fill: url('#linear-gradient-2');
    }
}
.tab-3-prev,.tab-3-next {
    &:hover {
        fill: url('#linear-gradient-3');
    }
}