.header {
    position: relative;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    background: url('../../images/header-bg.svg') no-repeat;
    background-position: top left -1px;
    background-size: cover;
}